<?xml version="1.0"?>

<launch>

    <node pkg="zeabus_sensor" type="imu_cf" name="sensor_imu" output="screen">
        <param name="device_path" value="/dev/microstrain/3dm_gx5_45_0000__6251.65903"/>
        <param name="frequency" value="50"/>
        <param name="topic_output" value="/sensor/imu"/>
    </node>

    <node pkg="zeabus_sensor" type="pressure_buffer" name="sensor_pressure">

    </node>

</launch>
